# PROD MODULES
[submodule "prod/services/blog"]
	path = prod/services/blog
	url = git@github.com:wetfish/blog.git
	branch = release
[submodule "prod/services/click"]
	path = prod/services/click
	url = git@github.com:wetfish/click.git
	branch = release
[submodule "prod/services/danger"]
	path = prod/services/danger
	url = git@github.com:wetfish/danger.git
	branch = release
[submodule "prod/services/glitch"]
	path = prod/services/glitch
	url = git@github.com:wetfish/glitch.git
	branch = release
[submodule "prod/services/online"]
	path = prod/services/online
	url = git@github.com:wetfish/online.git
	branch = release
[submodule "prod/services/wiki"]
	path = prod/services/wiki
	url = git@github.com:wetfish/wiki.git
	branch = release
[submodule "prod/services/home"]
	path = prod/services/home
	url = https://github.com/wetfish/wetfish.net

# STAGE MODULES
[submodule "stage/services/wiki"]
    path = stage/services/wiki-staging
    url = git@github.com:wetfish/wiki.git
    branch = stage-testing
[submodule "stage/services/online"]
    path = stage/services/online-staging
    url = git@github.com:wetfish/online.git
    branch = stage-testing
[submodule "stage/services/home-staging"]
	path = stage/services/home-staging
	url = git@github.com:wetfish/wetfish.net
	branch = stage-testing
